<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        <span class="border">
            <img class="card-img-top img-fluid img-thumbnail my-home-car-image-props" src="https://cdn.bmwblog.com/wp-content/uploads/2020/08/The-BMW-S85-V10-engine-1.jpg" alt="Part Image">
        </span>
        <div class="card-body">
            <p class="card-text">
                Masterpiece of power: BMW S85 - V10 engine, relentless performance.
            </p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a type="button" class="btn btn-sm btn-outline-secondary">View</a>
                    <a type="button" class="btn btn-sm btn-outline-secondary">Buy</a>
                </div>
                <small class="text-muted">Engine</small>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        <span class="border">
            <img class="card-img-top img-fluid img-thumbnail my-home-car-image-props" src="https://ae01.alicdn.com/kf/He95d65bb829e41e89014f7bb77c0fbbdP.jpg" alt="Part Image">
        </span>
        <div class="card-body">
            <p class="card-text">
                Supreme stopping power: Audi S-Line brakes - Precision and control.
            </p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a type="button" class="btn btn-sm btn-outline-secondary">View</a>
                    <a type="button" class="btn btn-sm btn-outline-secondary">Buy</a>
                </div>
                <small class="text-muted">Brakes</small>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        <span class="border">
            <img class="card-img-top img-fluid img-thumbnail my-home-car-image-props" src="https://www.mercedes-benz.com.sg/passengercars/mercedes-benz-cars/models/c-class/coupe-c205/safety/safety-packages/mirror-package/_jcr_content/par/productinfotextimage/media2/slides/videoimageslide_3f5b/image.MQ6.12.20190426160132.jpeg" alt="Part Image">
        </span>
        <div class="card-body">
            <p class="card-text">
                Sleek tech mirrors: Merc C-Class side-mirror - Style with smart features.
            </p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a type="button" class="btn btn-sm btn-outline-secondary">View</a>
                    <a type="button" class="btn btn-sm btn-outline-secondary">Buy</a>
                </div>
                <small class="text-muted">Side mirror</small>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="CommonView" />
}