
<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        <span class="border">
            <img class="card-img-top img-fluid img-thumbnail my-home-car-image-props" src="https://collectingcars.imgix.net/images/2020/09/DSC01474.jpg?w=1263&fit=fillmax&crop=edges&auto=format,compress&cs=srgb&q=85" alt="Car Image">
        </span>
        <div class="card-body">
            <p class="card-text">
                Iconic sport coupe: BMW E92 M3 - Power, precision, style.
            </p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a type="button" class="btn btn-sm btn-outline-secondary">View</a>
                    <a type="button" class="btn btn-sm btn-outline-secondary">Rent</a>
                </div>
                <small class="text-muted">Coupe</small>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        <span class="border">
            <img class="card-img-top img-fluid img-thumbnail my-home-car-image-props" src="https://hips.hearstapps.com/hmg-prod/images/screen-shot-2023-05-08-at-4-32-27-pm-64595c8ee4a9b.png" alt="Car Image">
        </span>
        <div class="card-body">
            <p class="card-text">
                Luxury and elegance personified: Mercedes CLS - Innovation meets sophistication.
            </p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a type="button" class="btn btn-sm btn-outline-secondary">View</a>
                    <a type="button" class="btn btn-sm btn-outline-secondary">Rent</a>
                </div>
                <small class="text-muted">Coupe</small>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        <span class="border">
            <img class="card-img-top img-fluid img-thumbnail my-home-car-image-props" src="https://images.clickdealer.co.uk/vehicles/4911/4911703/large2/112803140.jpg" alt="Car Image">
        </span>
        <div class="card-body">
            <p class="card-text">
                Audacious performance: Audi S5 - Thrilling design, exhilarating drive.
            </p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a type="button" class="btn btn-sm btn-outline-secondary">View</a>
                    <a type="button" class="btn btn-sm btn-outline-secondary">Rent</a>
                </div>
                <small class="text-muted">Coupe</small>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="CommonView" />
}