@model CarParts.Web.ViewModels.Error.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="text-center">
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>

    @if (Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }

    <br />
    <br />
    <h4>Go back to <a asp-controller="Home" asp-action="Index">Home Page</a></h4>
</div>