<div class="container">
    <p>
        &copy; Car Parts 2023 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> - All Rights Reserved.
        <a href="#" style="padding-left: 550px">Jump back to the top</a>
    </p>
</div>