
<style>
    .my-custom-background-color {
        background-color: #e6f9ff;
    }
</style>

<section class="jumbotron text-center my-custom-background-color">
    <div class="container">
        <h1 class="jumbotron-heading">Welcome to CarParts site</h1>
        <p class="lead text-muted">
            Here you can find all the information you need about your car.
            <br/>
            Also you can become a dealer and add your car to our site.
            <br/>
            Or just share your experience about your car with other users.
        </p>
        <p>
            <a href="@Url.Action("All", "Car")" class="btn btn-primary my-2">Explore all cars in our site</a>
            <a href="@Url.Action("All", "Part")" class="btn btn-secondary my-2">Explore all parts in our site</a>
        </p>
    </div>
</section>

<div class="album py-5 my-custom-background-color">
    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <span class="border">
                        <img class="card-img-top img-fluid" src="https://sportscardigest.com/wp-content/uploads/2021/11/BMW-E60-M5-Front-View.jpg" alt="Card image cap">
                    </span>
                    <div class="card-body">
                        <p class="card-text">
                            The BMW E60 M5 is an iconic high-performance luxury sports sedan known for its powerful V10 engine, delivering exhilarating acceleration and a thrilling driving experience.
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Rent</button>
                            </div>
                            <small class="text-muted">Sedan</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <span class="border">
                        <img class="card-img-top img-fluid" src="https://www.ail.de/wp-content/uploads/fahrzeuge/479C8C5A-A1A8-4064-8146-F91DA2F93A26.jpeg" alt="Card image cap">
                    </span>
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Rent</button>
                            </div>
                            <small class="text-muted">Wagon</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <span class="border">
                        <img class="card-img-top img-fluid" src="https://images.pistonheads.com/nimg/46601/blobid0.jpg" alt="Card image cap">
                    </span>
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Rent</button>
                            </div>
                            <small class="text-muted">Sedan</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <span class="border">
                        <img class="card-img-top img-fluid" src="https://media.panamera-life.com/wp-content/uploads/2021/12/14013437/7C0268E5-F6E7-40E8-88B0-4E08DA4A0DD3-1280x853.jpeg" alt="Card image cap">
                    </span>
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                            </div>
                            <small class="text-muted">Engine</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <span class="border">
                        <img class="card-img-top img-fluid" src="https://bremssattel-aufkleber.net/wp-content/uploads/2023/04/audi-s-line-bremssattel-aufkleber-a4-a5-a6-sticker-bremse-tuning-sport-554571-scaled.jpg" alt="Card image cap">
                    </span>
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                            </div>
                            <small class="text-muted">Brakes</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <span class="border">
                        <img class="card-img-top img-fluid" src="https://www.mercedes-benz.ie/passengercars/mercedes-benz-cars/models/c-class/saloon-w205/safety/safety-packages/mirror-package/_jcr_content/par/productinfotextimage/media2/slides/videoimageslide_c892/image.MQ6.12.20191009173434.jpeg" alt="Card image cap">
                    </span>
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                            </div>
                            <small class="text-muted">Side mirror</small>
                        </div>
                    </div>
                </div>
            </div>

            
            

        </div>
    </div>
</div>