  
        
<div class="container mt-5">
    <div class="row">

        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h3 class="text-center">6 Useful Tips For Car Rental</h3>
                    </div>
                    <p class="card-text">
                        <ul class="list-group">
                            <li class="list-group-item" aria-current="true">
                                <strong>1. Make your reservation as early as possible</strong><br />
                                Try making reservation at least 1-2 weeks in advance in order to avoid a disappointment of limited availability.
                                We also have regular “early-birds” discounts and promos!
                            </li>
                            <li class="list-group-item">
                                <strong>2. Choose your car wisely according your needs</strong><br />
                                Always have in mind not only the price, but the interior car space and trunk size.
                            </li>
                            <li class="list-group-item">
                                <strong>3. Leave more details when you book</strong><br />
                                When you make your booking online or by phone, leave more details like the exact pick up address and hotel 
                                name as well as mobile phone number, that will be reachable at the moment of car pick up.
                            </li>
                            <li class="list-group-item">
                                <strong>4. Don’t forget the security excess</strong><br />
                                As most of the car rental companies, we have security excess when you rent the car. The excess
                                is 150 EUR – 2000 EUR depending on the car class.
                            </li>
                            <li class="list-group-item">
                                <strong>5. In case of car accident – call us!</strong><br />
                                If you are involved in accident during the rental or somehow damage the vehicle, call us immediately.
                                Also, you’ll need to call 112. They will assist you notifying the traffic police. We will need your 
                                traffic police report about the accident.
                            </li>
                            <li class="list-group-item">
                                <strong>6. Follow the traffic regulations in Bulgaria</strong><br />
                                Always abide the speed limit. Remember that at many places on Bulgarian roads there are stationary 
                                and mobile speed cameras. Be more careful and you will not bring 
                                unnecessary hassles and worries during your vacation.
                            </li>

                        </ul>

                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h3 class="text-center">6 Reasons Why You Can Be Fined</h3>
                    </div>
                    <p class="card-text">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <strong>
                                    1. Check the validity of your insurance and technical inspection
                                </strong><br />
                                You can be fined, if you or your insurance has expired, or the period of technical review.
                            </li>
                            <li class="list-group-item">
                                <strong>2. Do not drive at high speed</strong><br />
                                Speeding is also a prerequisite for you being fined. Observe the specified speed limits in the village and outside the village.
                            </li>
                            <li class="list-group-item">
                                <strong>
                                    3. Do not use a mobile phone during driving
                                </strong><br />
                                Talking on a mobile phone is prohibited, unless you use hands-free or bluetooth device. 
                                It is extremely risky action, which the fine is inevitable.
                            </li>
                            <li class="list-group-item">
                                <strong>
                                    4. Do not use a car sound in the city if it is not really important
                                </strong><br />
                                Using the car horn in public, without being strictly necessary can also be fined.
                            </li>
                            <li class="list-group-item">
                                <strong>
                                    5. Park only at designated places
                                </strong><br/>
                                Parking prohibited place a sign or close to junction or walkway can have unpleasant consequences.
                                It could put a clamp to your car, or directly taken with a car spider.
                            </li>
                            <li class="list-group-item">
                                <strong>
                                    6. Always refer to the condition of the light signals and use seat belts
                                </strong><br />
                                If you have a vehicle malfunctions related to the taillights, turn signals, lights, equipment. 
                                Seat belt is also required. In order to prioritize safety on the road, it's essential to promptly
                                address any vehicle malfunctions related to the taillights, turn signals, lights, and equipment.
                            </li>
                        </ul>



                    </p>
                </div>
            </div>
        </div>
    </div>
</div>