@{
    ViewData["Title"] = "Privacy Policy";
}

<style>
  
    .my-custom-background-color {
        background-color: #e6f9ff;
    }

</style>


<div class="container my-custom-background-color">
    <h1>@ViewData["Title"]</h1>
    <p>
        TODO: 
        <br />
        www.auto.bg/gc?act=2
    </p>
    <p>Last updated - 03-Aug-2023</p>
    <br/>
</div>