@{
    ViewData["Title"] = "Privacy Policy";
}

<style>
  
    .my-custom-background-color {
        background-color: lightyellow;
    }

</style>


<div class="container my-custom-background-color">

    <div class="container">
        <br />
        <h1>@ViewData["Title"]</h1>
        <p>
            This Privacy Policy outlines how CarParts collects, uses, and protects the information you provide while using our website.
        </p>

        <h3>Information We Collect</h3>
        <p>
            CarParts may collect the following information from you when using our website:
        </p>
        <ul>
            <li>Personal Information (such as name, email address, phone number) when you sign up or use our services</li>
            <li>Demographic Information (such as age, gender, location) to provide personalized services</li>
            <li>Vehicle Preference and Rental History to enhance your user experience</li>
            <li>Website Usage Information (such as IP address, browser type, device information) for analytics purposes</li>
        </ul>

        <h3>How We Use Your Information</h3>
        <p>
            CarParts may use the information collected for the following purposes:
        </p>
        <ul>
            <li>Process and manage your car rental bookings</li>
            <li>Personalize your experience and improve customer service</li>
            <li>Analyze website usage to enhance user experience and optimize our website</li>
            <li>Comply with legal requirements and protect our rights and interests</li>
        </ul>

        <h3>Security</h3>
        <p>
            We take the security of your information seriously. CarParts implements various security measures to protect your data from unauthorized access, alteration, disclosure, or destruction.
        </p>

        <h3>Third-Party Services</h3>
        <p>
            CarParts may use third-party services to enhance our website and services. These third-party services may have their own privacy policies governing the use of your information.
        </p>

        <h3>Cookie Policy</h3>
        <p>
            Our website uses cookies to enhance your browsing experience. By using our website, you consent to the use of cookies in accordance with our Cookie Policy.
        </p>

        <h3>Changes to this Privacy Policy</h3>
        <p>
            CarParts may update this Privacy Policy at any moment. We encourage you to review this page regularly for any changes. By continuing to use our website after any changes to this Privacy Policy, you agree to the updated terms.
        </p>
        <br/>

        <p class>Last Updated: 08-Aug-2023</p>
     
    </div>
    
</div>