<style>
    /* Custom CSS for coloring columns */
    .col-custom-1 {
        background-color: #1E90FF; /* Blue color */
        color: #fff; /* White text color */
        padding: 10px;
        border-radius: 5px;
    }

    .col-custom-2 {
        background-color: #FF6347; /* Tomato color */
        color: #fff; /* White text color */
        padding: 10px;
        border-radius: 5px;
    }

    .col-custom-3 {
        background-color: #32CD32; /* LimeGreen color */
        color: #fff; /* White text color */
        padding: 10px;
        border-radius: 5px;
    }
    

</style>


<div class="container text-center">
    

    <div class="row">


        <div class="col col-custom-1">
            <p> 1 of 3</p>
            
            <div class="position-relative">
                
                <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                    <button type="button" class="btn btn-primary btn-lg end-50">Button</button>
                    <button type="button" class="btn btn-primary">Button</button>
                    <button type="button" class="btn btn-primary">Button</button>
                   
                </div>



            </div>
            
            
            
            
            

        </div>
        

        <div class="col-6 col-custom-2">
            2 of 3 (wider)
        </div>
        

        <div class="col col-custom-3">
            3 of 3
        </div>


    </div>


    @*<div class="row">
        <div class="col col-custom-1">
            1 of 3
        </div>
        <div class="col-5 col-custom-2">
            2 of 3 (wider)
        </div>
        <div class="col col-custom-3">
            3 of 3
        </div>
    </div>*@


</div>