<style>

    .custom-menu {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .custom-item {
        display: inline-block;
        margin-right: 15px;
    }

</style>

<div class="menu-container">
    <ul class="custom-menu">

        <li class="custom-item">
            <a class="btn btn-success" href="@Url.Action("AddMoney", "User", new { area = "" })">Add 100 euro</a>
        </li>
        
        <li class="custom-item">
            <a class="btn btn-success" href="@Url.Action("AddCustomAmountMoney", "User", new { area = "", amount = 10_000 })">Add 10 000 euro</a>
        </li>
        
        <li class="custom-item">
            <a class="btn btn-success" href="@Url.Action("AddCustomAmountMoney", "User", new { area = "", amount = 100_000 })">Add 100 000 euro</a>
        </li>

        <li class="custom-item">
            <a class="btn btn-danger" href="@Url.Action("ResetMoney", "User", new { area = "" })">Reset money</a>
        </li>

    </ul>
</div>